// Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

// variables
$lanieColor: #43c5e9;
$secondaryColor: #fbbe1d;
$tertiaryColor: #f0442b;
$primaryColor: #1a3d5a;

@mixin tombol {
  display: inline-block;
  color: white;
  background-color: #43c5e9;
  border: 0;
  border-radius: 2em;
  padding: 0.5em 2em;
  text-decoration: none;
}

// Style
body {
  font-family: "Monserrat", sans-serif;
  &::before {
    content: "";
    background-image: url(../img/bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 65vmax;
    position: absolute;
    opacity: 0.8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @media screen and (max-width: 992px) {
      opacity: 0.4;
    }
  }
}

// navbar
.custom-nav {
  .navbar-brand {
    img {
      width: 50px;
      height: 50px;
    }
    span {
      color: $primaryColor;
      font-weight: 700;
      font-size: 1.4rem;
      margin-left: 0.4em;
    }
  }

  #navbarNav {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $primaryColor;
          font-weight: 500;
          text-transform: uppercase;
          margin-left: 2.4em;
        }
      }
    }
    .sign-up-btn {
      background-color: $primaryColor;
      border: 0;
      border-radius: 2em;
      padding-right: 1.5em;
      padding-left: 1.5em;

      &:hover {
        border: 1px solid $primaryColor;
        background-color: transparent;
      }
    }
  }
  @media screen and (max-width: 992px) {
    margin-top: -1.5em;
  }
}

// section
.custom-section {
  margin-top: 6em;
  margin-left: 1.5em;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #2b7a91;
    line-height: 1;
  }

  p {
    color: $primaryColor;
    font-weight: 500;
    line-height: 1;
    font-size: 1.1rem;
    margin-top: 1em;
  }
  a {
    margin-top: 1em;
    @include tombol();

    &:hover {
      color: $lanieColor;
      background-color: transparent;
      border: 1px solid $lanieColor;
    }
  }
  // @media screen and (max-width: 992px) {
  //   margin-top: 3em;
  //   h2,
  //   p {
  //     font-weight: 700;
  //     text-shadow: 1px 1px 1px 2px rgba($primaryColor, 0.3);
  //   }
  // }
}
